body {

    text-align: center;
    margin-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

#screen {

    margin:auto;
    margin-top: 20px;
    height:400px;
    width:800px;
    box-shadow: 0 0 10px black;
}

#container {
    margin:auto;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
    width:fit-content;
    gap: 5px;
}



button {
    margin:auto;
    margin-top: 1px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darksalmon;
    color: white;
    letter-spacing: 3px;
    border-radius: 3px;
    height: 100px;
    width:100px;
    height:120px;
    padding: 0px;
}

button:hover {
    
    transition: 300ms;
    
    
   
}



button:active {
    transform: scale(0.8);
    
}

img.mini {
    height: 100%;
    width: 100%;

}


img {
    height: 100%;
    width: 100%;
    
}

button.normal {
    position: absolute;
    top:5px;
    left:15px;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: red;
    color:white;
}

p {
    margin: auto;
    margin-top:10px;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: white;
    color:black;
    padding: 5px;
}